<!DOCTYPE html>
<html>
  <head>
    <title>Chess Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
	<table>
		<tr>
			<td id='a8' class="odd unclicked"></td>
			<td id='b8' class="even unclicked"></td>
			<td id='c8' class="odd unclicked"></td>
			<td id='d8' class="even unclicked"></td>
			<td id='e8' class="odd unclicked"></td>
			<td id='f8' class="even unclicked"></td>
			<td id='g8' class="odd unclicked"></td>
			<td id='h8' class="even unclicked"></td>
			<td class="end">8</td>
		</tr>
		<tr>
			<td id='a7' class="even unclicked"></td>
			<td id='b7' class="odd unclicked"></td>
			<td id='c7' class="even unclicked"></td>
			<td id='d7' class="odd unclicked"></td>
			<td id='e7' class="even unclicked"></td>
			<td id='f7' class="odd unclicked"></td>
			<td id='g7' class="even unclicked"></td>
			<td id='h7' class="odd unclicked"></td>
			<td class="end">7</td>
		</tr>
		<tr>
			<td id='a6' class="odd unclicked"></td>
			<td id='b6' class="even unclicked"></td>
			<td id='c6' class="odd unclicked"></td>
			<td id='d6' class="even unclicked"></td>
			<td id='e6' class="odd unclicked"></td>
			<td id='f6' class="even unclicked"></td>
			<td id='g6' class="odd unclicked"></td>
			<td id='h6' class="even unclicked"></td>
			<td class="end">6</td>
		</tr>
		<tr>
			<td id='a5' class="even unclicked"></td>
			<td id='b5' class="odd unclicked"></td>
			<td id='c5' class="even unclicked"></td>
			<td id='d5' class="odd unclicked"></td>
			<td id='e5' class="even unclicked"></td>
			<td id='f5' class="odd unclicked"></td>
			<td id='g5' class="even unclicked"></td>
			<td id='h5' class="odd unclicked"></td>
			<td class="end">5</td>
		</tr>
		<tr>
			<td id='a4' class="odd unclicked"></td>
			<td id='b4' class="even unclicked"></td>
			<td id='c4' class="odd unclicked"></td>
			<td id='d4' class="even unclicked"></td>
			<td id='e4' class="odd unclicked"></td>
			<td id='f4' class="even unclicked"></td>
			<td id='g4' class="odd unclicked"></td>
			<td id='h4' class="even unclicked"></td>
			<td class="end">4</td>
		</tr>
		<tr>
			<td id='a3' class="even unclicked"></td>
			<td id='b3' class="odd unclicked"></td>
			<td id='c3' class="even unclicked"></td>
			<td id='d3' class="odd unclicked"></td>
			<td id='e3' class="even unclicked"></td>
			<td id='f3' class="odd unclicked"></td>
			<td id='g3' class="even unclicked"></td>
			<td id='h3' class="odd unclicked"></td>
			<td class="end">3</td>
		</tr>
		<tr>
			<td id='a2' class="odd unclicked"></td>
			<td id='b2' class="even unclicked"></td>
			<td id='c2' class="odd unclicked"></td>
			<td id='d2' class="even unclicked"></td>
			<td id='e2' class="odd unclicked"></td>
			<td id='f2' class="even unclicked"></td>
			<td id='g2' class="odd unclicked"></td>
			<td id='h2' class="even unclicked"></td>
			<td class="end">2</td>
		</tr>
		<tr>
			<td id='a1' class="even unclicked"></td>
			<td id='b1' class="odd unclicked"></td>
			<td id='c1' class="even unclicked"></td>
			<td id='d1' class="odd unclicked"></td>
			<td id='e1' class="even unclicked"></td>
			<td id='f1' class="odd unclicked"></td>
			<td id='g1' class="even unclicked"></td>
			<td id='h1' class="odd unclicked"></td>
			<td class="end">1</td>
		</tr>
		<tr>
			<td class="end">a</td>
			<td class="end">b</td>
			<td class="end">c</td>
			<td class="end">d</td>
			<td class="end">e</td>
			<td class="end">f</td>
			<td class="end">g</td>
			<td class="end">h</td>
		</tr>		
	</table>
	<div id="aside">
		<h2></h2>
		<h1></h1>
	</div>
  </body>
</html>
